html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #1d1d1d;
  color: #ddd;
  font-family: Ubuntu, Roboto, -apple-system-body, BlinkMacSystemFont, sans-serif;
  height: 100%;
}

a {
  outline: 0;
}

#root {
  height: 100%;
}

footer {
  background: #292929;
  padding: 5px 20px;
  display: none;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
}
.main {
  flex-grow: 1;
}

.App {
  text-align: center;
}

.logo {
  width: 200px;
  height: 75px;
  display: inline-block;
}

#filters {
  width: 300px;
  height: 100%;
  background: #222222;
  padding: 10px 20px;
  overflow: auto;
}
#filters h2 {
  font-size: 18px;
  color: #555;
}

#content {
  width: 100%;
  padding: 0;
  overflow: hidden;
  background: #1d1d1d;
  z-index: 0;
}
#content::-webkit-scrollbar {
  display: none;
}

@media all and (max-width: 700px) {
  header {
    height: 330px;
  }
}