.Browse .tabs {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 40px;
  bottom: 0;
}
.Browse .tabs li {
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  background: #1d1d1d;
}
.Browse .tabs button {
  width: 32px;
}
.Browse .tabs a {
  color: #fff;
  margin-left: 10px;
}