.Browse {
  position: relative;
}
.Browse .tabs {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 40px;
  bottom: 0;
}
.Browse .tabs li {
  display: inline-block;
  list-style: none;
  padding: 8px 20px;
  background: #1d1d1d;
  font-weight: 600;
}
.Browse .tabs button {
  width: 32px;
}
.Browse .tabs a {
  color: #ddd;
  margin-left: 10px;
}

.Browse .searchBar {
  background: #292929;
  position: relative;
  height: 330px;
  transition: all 200ms;
  transition-timing-function: ease-in-out;
}
.Browse .searchBar.collapsed {
  height: 140px;
}

.Browse .expandCollapse {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 10px;
  left: 40px;
  cursor: pointer;
}
.Browse .expandCollapse img {
  filter: invert(0.9);
  transition: all 600ms;
  transition-timing-function: ease-in-out;
}
.Browse .expanded .expandCollapse img {
  transform: rotate(-180deg);
}

@media all and (max-width: 700px) {
  .Browse .tabs {
    right: 20px;
  }
  .Browse .searchBar.collapsed {
    height: 110px;
  }
  .Browse .expandCollapse {
    bottom: 10px;
    left: 20px;
  }
}
