.EditableTag li {
  background: #383838;
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
}
.EditableTag li svg {
  filter: invert(0.9);
  height: 24px;
  width: 24px;
  margin: 0px 0px -6px 6px;
  vertical-align: -2px;
  padding: 2px;
  cursor: pointer;
}
.EditableTag input {
  background: #383838;
  border: #383838;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.5;
}
.EditableTag input:focus {
  opacity: 1;
}
.EditableTag input::placeholder {
  font-size: 15px;
}