.Filters {
  overflow: auto;
  margin: 0 -40px -20px;
  height: 350px;
  transition: opacity 200ms;
}
.FiltersContent {
  width: max-content;
  margin: 0 0 0 40px;
}

.FiltersContent {
  width: max-content;
  margin: 0 0 0 40px;
}

.Browse .collapsed .Filters {
  opacity: 0;
}

.Filters .scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #484848;
  position: absolute;
  cursor: move;
  bottom: 50px;
  left: 10px;
  opacity: 0;
  transition: opacity 200ms;
}
.Filters:hover .scrollbar {
  opacity: 1;
}

.Filters h2 {
  margin-top: 0;
}

.FilterGroup {
  width: 250px;
  height: 280px;
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.FilterGroup ul {
  margin: 0;
  padding: 0;
}
.FilterGroup li {
  background: #383838;
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 6px 10px 4px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}
.FilterGroup li.Color {
  width: 25px;
  height: 25px;
  padding: 0;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
}
.FilterGroup li.Red {
  background: rgb(225, 32, 0);
}
.FilterGroup li.Darkorange {
  background: rgb(162, 70, 21);
}
.FilterGroup li.Orange {
  background: rgb(255, 124, 0);
}
.FilterGroup li.Palepink {
  background: rgb(255, 159, 156);
}
.FilterGroup li.Lemonyellow {
  background: rgb(255, 250, 0);
}
.FilterGroup li.Schoolbusyellow {
  background: rgb(225, 32, 0);
}
.FilterGroup li.Green {
  background: rgb(144, 226, 0);
}
.FilterGroup li.Darklimegreen {
  background: rgb(0, 171, 0);
}
.FilterGroup li.Cyan {
  background: rgb(0, 178, 212);
}
.FilterGroup li.Blue {
  background: rgb(0, 98, 198);
}
.FilterGroup li.Violet {
  background: rgb(140, 32, 186);
}
.FilterGroup li.Pink {
  background: rgb(245, 35, 148);
}
.FilterGroup li.White {
  background: rgb(255, 255, 255);
}
.FilterGroup li.Gray {
  background: rgb(124, 124, 124);
}
.FilterGroup li.Black {
  background: rgb(0, 0, 0);
}

@media all and (max-width: 700px) {
  .Filters {
    margin: 0 -20px -20px;
  }
  .FiltersContent {
    margin-left: 20px;
  }
  .FilterGroup {
    width: 180px;
    height: 250px;
  }
}
