header {
  height: 50px;
  flex: none;
  justify-content: space-between;
  background: #484848;
  z-index: 20;
}
.isMobileApp header {
  height: 80px;
  padding-top: 30px;
}

header .logo {
  flex: none;
  font-size: 28px;
  font-weight: 400;
  margin: 10px 15px;
  line-height: 1.1;
}
header .navigation {
  flex-grow: 1;
}
header .notifications {
  width: 50px;
}
header .user {
  width: 84px;
}
header .logo img {
  filter: invert(0.9);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: top;
}
header .notifications img,
header .user > img {
  filter: invert(0.9);
  padding: 10px 0 10px 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
header .user img.arrowDown {
  width: 34px;
  padding: 10px 10px 10px 0;
}

.menu {
  display: none;
  position: absolute;
  width: 200px;
  right: 0px;
  top: 50px;
  z-index: 10;
  background: #484848;
  margin: 0;
  list-style: none;
  padding: 0;
  box-shadow: -3px 8px 17px rgba(0, 0, 0, 0.15);
}
.isMobileApp header .menu {
  top: 80px;
}
.menu li {
  padding: 12px 20px 12px 15px;
  cursor: default;
}
.menu li:hover {
  background: rgba(255, 255, 255, 0.1);
}
.menu a,
.menu a li {
  cursor: pointer;
  color: #ddd;
  text-decoration: none;
}
.menu a:hover li {
  color: #fff;
}
.menu li img {
  padding: 0;
  width: 24px;
  height: 24px;
  vertical-align: -6px;
  margin-right: 10px;
  filter: invert(0.9);
}
.menu li.profile img {
  width: 32px;
  height: 32px;
  margin-left: -4px;
  margin-right: 6px;
  vertical-align: -4px;
}
.menu li.profile div {
  display: inline-block;
  width: 100px;
}
.menu li.profile div .username {
  font-weight: 600;
  line-height: 18px;
  display: block;
}
.menu li.profile div .email {
  font-size: 10px;
  line-height: 12px;
  display: block;
}

header .user:hover .menu {
  display: block;
}
