.HierarchicalTags li {
  background: #383838;
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 6px 10px 4px;
  font-size: 12px;
  border-radius: 4px;
}
.HierarchicalTags li.expandable {
  padding-left: 3px;
}
.HierarchicalTags li.newline {
  display: block;
}
.HierarchicalTags ul.children {
  margin-left: 20px;
}
.HierarchicalTags li svg {
  filter: invert(0.9);
  height: 24px;
  width: 24px;
  margin: -6px 0px -6px -3px;
  vertical-align: -2px;
  padding: 6px;
}
