.Histogram {
  position: absolute;
  top: 0;
  right: -30px;
  opacity: 0;
  width: 130px;
  height: 100% !important;
  padding: 20px 30px 20px 0;
  justify-content: space-between;
  transition: all 200ms;
  transition-timing-function: ease;
  transition-delay: 200ms;
}
.Histogram:hover, .Scrollbar:hover + .Histogram {
  opacity: 1;
  right: 0;
}
.Histogram .Bar {
  background: rgba(255,255,255,0.2);
  height: 10px;
  cursor: pointer;
  position: relative;
}
.Histogram .Bar:hover {
  background: rgba(255,255,255,0.3);
}
.Histogram .selected {
  background: rgba(255,255,255,0.4);
  cursor: auto;
}
.Histogram .Bar .Caption {
  color: #fff;
  position: absolute;
  opacity: 0;
  left: -155px;
  top: -2px;
  font-size: 12px;
  text-align: right;
  width: 150px;
}
.Histogram .Bar:hover .Caption, .Histogram .selected .Caption {
  opacity: 1;
  text-shadow: 1px 1px #000;
}
