.LoginForm {
  background: #292929;
  width: 400px;
  margin: 80px auto;
  padding: 40px;
}
.LoginForm label {
  width: 120px;
  display: inline-block;
}
.LoginForm input {
  width: 200px;
  background: #484848;
  color: #fff;
  border: 0;
  padding: 11px 13px 9px 13px;
  margin-bottom: 10px;
}
.LoginForm button {
  background: #484848;
  color: #fff;
  border: 0;
  padding: 11px 13px 9px 13px;
  display: block;
  width: 100%;
  font-weight: 300;
  margin-top: 20px;
}
