.Onboarding {
  width: 600px;
  height: 700px;
  background: #1d1d1d;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: auto;
}
.Onboarding > div {
  height: 100%;
}
.Onboarding h2 {
  margin: 0 0 40px;
}
.Onboarding ul {
  padding: 0;
  list-style: none;
}
.Onboarding .message {
  margin-bottom: 40px;
}
.Onboarding li {
  margin-bottom: 20px;
  display: flex;
}
.Onboarding li div {
  flex: 50%;
}
.Onboarding .label {
  width: 33%;
  padding-top: 9px;
}
.Onboarding .label-boolean {
  width: 66.6%;
  padding-top: 0;
}
.Onboarding .field {
  width: 66.6%;
  padding-right: 1px;
}
.Onboarding .field-boolean {
  width: 33.3%;
  text-align: right;
}
.Onboarding .formContainer {
  overflow: auto;
  padding: 40px 40px 0 40px;
  min-height: 100%;
}
.Onboarding .formContainer form {
  height: 100%;
}
.Onboarding .formContainer form > div {
  min-height: 100%;
}
.Onboarding .buttonBar {
  margin: 40px 0;
}
.Onboarding input {
  border: 0;
  padding: 10px 12px;
  width: 100%;
}
.Onboarding select {
  border: 0;
  padding-left: 8px;
}
.Onboarding .error p {
  margin: 0;
}
.storageS3Preview {
  font-style: italic;
  margin: 0 0 0 33.3%;
}

@media all and (max-width: 700px) {
  .Onboarding {
    width: 100vw;
    height: 100vh;
    padding: 0;
  }
  .Onboarding .formContainer {
    padding: 20px 20px 0 20px;
  }
  .Onboarding .buttonBar {
    margin: 40px 0 20px;
  }
}
