.PhotoDetail {
  width: 100vw;
  height: 100vh;
  background-color: #1b1b1b;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.PhotoDetail .content {
  width: 110vw;
  height: 100vh;
  overflow: auto;
  position: absolute;
  z-index: 1;
}

.PhotoDetail .metadata {
  padding-top: 100vh;
  min-height: 200px;
  width: 100vw;
}
.PhotoDetail .metadata h2 {
  font-size: 18px;
  margin: 0 0 20px 0;
}
.PhotoDetail .metadata .boxes {
  background: rgba(0,0,0,0.75);
  padding: 40px 0 0 40px;
}
.PhotoDetail .metadata .boxes .box {
  display: inline-block;
  width: 220px;
  vertical-align: top;
  margin: 0 40px 40px 0;
}

.PhotoDetail .metadata .boxes .box ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.PhotoDetail .metadata .boxes .map {
  width: 100%;
  height: 150px;
  border: 1px solid #888;
}

.PhotoDetail .BoundingBoxesContainer {
  width: 100%;
  height: 100%;
  position: fixed;
}

.PhotoDetail .closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}
.isMobileApp .PhotoDetail .closeIcon {
  top: 40px;
}
.PhotoDetail .closeIcon svg {
  filter: invert(0.9);
}

.PhotoDetail .scrollHint {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
@keyframes example {
  0%   {opacity: 0;}
  25%  {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 0;}
}
.PhotoDetail .scrollHint svg {
  filter: invert(0.9);
  transition: all 600ms;
  transition-timing-function: ease-in-out;
  display: block;
  margin: 0 auto -15px;
  opacity: 0;
  animation-name: example;
  animation-duration: 1600ms;
  animation-iteration-count: 3;
}
.PhotoDetail .scrollHint svg.img1 {
  animation-delay: 0ms;
}
.PhotoDetail .scrollHint svg.img2 {
  animation-delay: 200ms;
}
.PhotoDetail .scrollHint svg.img3 {
  animation-delay: 400ms;
}

/* When two boxes can no longer fit next to each other */
@media all and (max-width: 500px) {
  .PhotoDetail .metadata .boxes .box {
    width: 100%;
  }
}