.PhotoList {
    height: 100%;
    position: relative;
  }
  .PhotoList .PhotoListScroller {
    padding: 40px 99px 20px 40px;
    height: 100%;
    overflow: auto;
    margin-right: -99px;
  }
  
  .PhotoList .section h2 {
    margin: 0 0 20px 0;
  }
  
  .PhotoList .Scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,0.2);
    position: absolute;
    cursor: move;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 200ms;
  }
  .PhotoList:hover .Scrollbar {
    opacity: 1;
  }
  
  @media all and (max-width: 700px) {
    .PhotoList .PhotoListScroller {
      padding: 20px 99px 0 20px;
    }
    .PhotoList .Scrollbar {
      opacity: 1;
    }
  }
  