.SearchInput {
  background: #484848;
  margin-bottom: 20px;
  position: relative;
}
.SearchInput ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0 10px;
}
.SearchInput li.filter {
  background: #383838;
  border-radius: 30px;
  margin: 10px 10px 0 0;
  padding: 5px 8px 2px 15px;
  display: inline-block;
  font-size: 14px;
}
.SearchInput li.filter svg.groupIcon {
  filter: invert(0.9);
  display: inline-block;
  margin: -3px 7px 0 -6px;
  vertical-align: middle;
}
.SearchInput li.filter svg.removeIcon {
  filter: invert(0.9);
  cursor: pointer;
  vertical-align: middle;
  margin: 0 0 3px 7px;
  opacity: 0.4;
}
.SearchInput li.filter svg.removeIcon:hover {
  opacity: 0.6;
}
.SearchInput input[type="text"] {
  width: 100%;
  font-size: 20px;
  padding: 11px 40px 9px 13px;
  background: #484848;
  border: 0;
  color: #fff;
}
.SearchInput input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,0.6);
  opacity: 1; /* Firefox */
}
.SearchInput svg.clearAll {
  filter: invert(0.6);
  cursor: pointer;
  position: absolute;
  right: 9px;
  bottom: 9px;
}
.SearchInput svg.clearAll:hover {
  opacity: 0.6;
}
