.Settings {
  width: 600px;
  height: 500px;
  background: #1d1d1d;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: auto;
}
.isMobileApp .Settings {
  padding-top: 40px;
}
.Settings h2 {
  margin: 0 0 40px;
}
.Settings ul {
  padding: 0;
  list-style: none;
}
.Settings li {
  margin-bottom: 20px;
  display: flex;
}
.Settings li div {
  flex: 50%;
}
.Settings img {
  filter: invert(0.9);
}
.Settings .closeIcon {
  filter: invert(0.9);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.isMobileApp .Settings .closeIcon {
  top: 40px;
}
.Settings input {
  background: #484848;
  color: #fff;
  border: 0;
  padding: 10px;
  width: 100%;
}
.Settings .folder {
  cursor: pointer;
  margin: 5px 0 0 20px;
  vertical-align: middle;
}

@media all and (max-width: 700px) {
  .Settings {
    width: 100vw;
    height: 100vh;
    padding: 20px;
  }
}
