{% load staticfiles %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Photo Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  </head>
  <body>
    <section id="root">
      <header>
        <h1>Photo Manager</h1>
      </header>
      <section id="filters">
        <h2>Filters</h2>
      </section>
      <section id="notifications">
        <notification>
          <h3>Scanning for new photos</h3>
          <div class="progress-bar">
            <span class="progress-completed" style="width: 80%"></span>
          </div>
        </notification>
        <notification>
          <h3>Generating thumbnails</h3>
        </notification>
        <table>
          <tr><td>Photo dirs scanning:</td><td id="photo-dirs-scanning"></td></tr>
          <tr><td>Cache dir:</td><td id="cache-dir"></td></tr>
        </table>
        <button id="rescan-photos">Scan for photos</button>
      </section>
    </section>
    <script src="{% static "channels/js/websocketbridge.js" %}"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
