[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.16"
daphne = "==1.1.0"
channels = "==1.1.1"
asgiref = "==1.0.1"
asgi-redis = "==1.1.0"
ipython = "*"
pillow = "==4.0.0"
psutil = "==5.4.6"
"psycopg2-binary" = "==2.7.6.1"
python-redis-lock = "==3.2.0"
requests = "==2.20.1"
redis = "==2.10.6"
rq = "==0.12.0"
tensorflow = "==1.8.0"
inotify = "==0.2.8"
graphene-django = "==2.2.0"
django-filter = "==2.0.0"
pyshp = "==2.0.1"
matplotlib = "==3.0.2"
pytest = "==4.1.0"
pytest-django = "==3.4.5"
codecov = "*"
gunicorn = "==19.9.0"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.6"
