body {
  background: #222;
  color: #ddd;
  font-family: sans-serif;
  margin: 0;
}

header {
  background: #444;
  padding: 10px 20px;
}

#filters {
  display: inline-block;
  width: 200px;
  background: #333;
  min-height: 500px;
  padding: 10px 20px;
}

#notifications {
  position: absolute;
  bottom: 0;
  right:0;
  background: #333;
}
notification {
  display: block;
  border-bottom: 1px solid #222;
  padding: 15px 20px;
}
h3 {
  font-size: 15px;
  margin: 0 0 15px 0;
}
.progress-bar {
  border-radius: 5px;
  height: 10px;
  background: #222;
}
.progress-completed {
  background: #aaa;
  height: 10px;
  display: block;
  border-radius: 5px;
}
table {
  padding: 15px;
}
td {
  padding-right: 10px;
}
button {
  margin: 15px;
}
