header {
  background: #292929;
}
footer {
  background: #292929;
  padding: 5px 20px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.main {
  flex-grow: 1;
}

.App {
  text-align: center;
}

.logo {
  width: 200px;
  height: 75px;
  display: inline-block;
}
.tabs {
  display: inline-block;
  margin: 0;
}
.tabs li {
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  background: #1d1d1d;
  margin-right: 10px;
}
.tabs li a {
  color: #ddd;
  text-decoration: none;
}

#filters {
  width: 250px;
  height: 100%;
  background: #222222;
  padding: 10px 20px;
}
#filters h2 {
  font-size: 18px;
  color: #555;
}

#content {
  width: 100%;
  padding: 20px 0 0 20px;
  overflow-y: scroll;
}
