html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1d1d1d;
  color: #ddd;
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
